* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f2f2f2;
}

.container {
  background-color: #232f3e;
  color: white;
  display: flex;
  padding: 15px 20px;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
}

.logo img {
  height: 40px;
  width: auto;
}

.location, .language, .account, .orders, .cart {
  margin-left: 20px;
}

.search-bar {
  width: 40%;
  height: 35px;
  border-radius: 20px;
  padding-left: 20px;
  border: none;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cards {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  width: 250px;
  margin: 20px;
  transition: transform 0.3s ease;
  padding: 20px;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h2 {
  font-size: 18px;
  margin: 15px;
}

.card a {
  display: inline-block;
  padding: 10px 20px;
  margin: 15px 0;
  background-color: #ff9900;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.card a:hover {
  background-color: #e68a00;
}