.icard {
  margin: 20px auto;
  border: 5px solid #ff0000;
  height: 300px;
  width: 300px;
  background-color: #f0f0f0;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.icard table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.icard th {
  padding: 8px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
}

.icard td {
  padding: 10px;
  font-size: 18px;
}

.college-header {
  color: #3eabdd;
  background-color: #fcf8f8;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  border-bottom: 3px solid #ff0000;
}

